<div class="btn-toolbar pull-right" role="toolbar">
  <ul class="pagination pagination-primary">
    <li class="{{if gotoBackEnabled "active"}}"><a href="#" {{action "gotoFirst"}}>
      <i class="material-icons">first_page</i>
    </a></li>
    <li class="{{if gotoBackEnabled "active"}}"><a href="#" {{action "gotoPrev"}}>
      <i class="material-icons">chevron_left</i>
    </a></li>
    <li class="{{if gotoForwardEnabled "active"}}"><a href="#" {{action "gotoNext"}}>
      <i class="material-icons">chevron_right</i>
    </a></li>
    <li class="{{if gotoForwardEnabled "active"}}"><a href="#" {{action "gotoLast"}}>
      <i class="material-icons">last_page</i>
    </a></li>
  </ul>
</div>